<h1 class='main-header center'> Pokemon Mix and Match </h1>
<hr />

<h4 id='welcome-user' class='center'> Welcome! </h4>
<h5 class='text-font center'> Goodluck! </h5>

<div class='container center' id='game-bod'>
  <div class='row'>
    <div class='col s2 offset-s2 box-card pokemon'>
      <div class='img-card hidden' id='zapdos'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='articuno'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='bulbasaur'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='charmander'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col s2 offset-s2 box-card pokemon'>
      <div class='img-card hidden' id='dragonite'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='moltres'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='pikachu'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='squirtle'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col s2 offset-s2 box-card pokemon'>
      <div class='img-card hidden' id='zapdos'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='articuno'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='bulbasaur'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='charmander'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col s2 offset-s2 box-card pokemon'>
      <div class='img-card hidden' id='dragonite'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='moltres'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='pikachu'></div>
    </div>
    <div class='col s2 box-card pokemon'>
      <div class='img-card hidden' id='squirtle'></div>
    </div>
  </div>
  <button class='btn btn-default' id='play-time'> Play Again! </button>
</div>
<div class='container center'>
  <div class='row'>
    <div class='shuffled'>

    </div>
  </div>
</div>
