.main-header {
  color: #00fff7;
}

#welcome-user {
  color: #00fff7;
}

.text-font {
  color: #00fff7;
}

.box-card {
  height: 200px;
  border-radius: 10px;
  margin: 5px;
  background-color: yellow;
}

.img-card {
  width: 100%;
  height: 200px;
}

.pokemon {
  background-image: url('pokemon-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

#articuno {
  background-image: url('articuno.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#bulbasaur {
  background-image: url('bulbasaur.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#charmander {
  background-image: url('charmander.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#dragonite {
  background-image: url('dragonite.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#eevee {
  background-image: url('eevee.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#mewtwo {
  background-image: url('mewtwo.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#moltres {
  background-image: url('moltres.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#pikachu {
  background-image: url('pikachu.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#squirtle {
  background-image: url('squirtle.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#zapdos {
  background-image: url('zapdos.jpeg');
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: bottom;
}
